.App {
  text-align: center;
}

#body {
  max-width: 540px;
  margin: 0 auto;
}

.Title {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  margin: 48px 0 24px 0;
}

.Listing {
  display: flex;
  flex-direction: column;

  background-color: #444;
  padding: 18px;
  border-radius: 4px;

  gap: 4px;
}

.Listing > button {
  margin-top: 12px;
}

input {
  border-radius: 4px;
  outline: none;
  border: 0;
  background-color: #222;
  padding: 4px;
}

.ItemListParent {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ItemList {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ItemList > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
